<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>

  <span><%= link_to "New project",  new_project_path %></span>

  <div class="col-md-8">
    <% if @user.projects.any? %>
      <h3>projects (<%= @user.projects.count %>)</h3>
      <ol class="projects">
        <%= render @projects %>
      </ol>
      <%= will_paginate @projects %>
    <% end %>
  </div>


   <div class="col-md-8">
    <% if @user.fund_records.any? %>
      <h3>fund_records (<%= @user.fund_records.count %>)</h3>
      <ol class="fund_records">
        <%= render @fund_records %>
      </ol>
      <%= will_paginate @fund_records %>
    <% end %>
  </div>
</div>