<li id="project-<%= project.id %>">
  <span class="title"><%= link_to project.title, project %></span>
  <span class="description">description : <%= project.description %></span>
  <span class="description">current amount : <%= project.cur_amt %>/<%= project.total_amt %></span>
</li>